.content {
  padding: 11px 144px 84px 144px;
  //----------------------------
  .introduction {
    display: flex;
  }
  //----------------------------
  .benefit {
    display: flex;
    justify-content: space-between;
  }
  //---------------------------
  .banner {
    display: flex;
    position: relative;
    width: 1151px;
    height: 43px;
    margin-top: 19px;
    line-height: 43px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    //------------------------
    .textBanner {
      font-size: 22px;
      margin-left: 28px;
    }
    //---------------------------
    .buttonBanner {
      position: absolute;
      box-sizing: border-box;
      width: 131px;
      height: 31px;
      line-height: 31px;
      border: 1px solid #f0e36a;
      font-size: 16px;
      border-radius: 56px;
      text-align: center;
      right: 20px;
      margin-top: 6px;
      &:hover {
        color: #f0e36a;
        background-color: white;
      }
    }
  }
  //------------------------
  .list {
    display: flex;
    flex-wrap: wrap;
    .card {
      box-sizing: border-box;
      background: #fffcfc;
      border: 1px solid #b4b1b1;
      border-radius: 5px;
      width: 280px;
      height: 395px;
      margin-top: 19px;
      margin-right: 8px;
      //------------------------
      .photoCard {
        width: 233.18px;
        height: 200px;
        box-shadow: 0.5px 0.5px 12px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-top: 21px;
        margin-left: 22.95px;
      }
      //------------------------
      .productDescription {
        font-style: normal;
        //------------------------
        .nameProduct {
          font-family: "Arial";
          font-weight: 700;
          font-size: 32px;
          line-height: 37px;
          margin-top: 15px;
          margin-left: 22.95px;
          margin-right: 15px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &:hover {
            overflow: visible;
            font-size: 20px;
            transition: all 0.5s;
            text-align: center;
          }
        }
        //------------------------
        .idProduct {
          font-family: "Arial";
          font-weight: 700;
          font-size: 18px;
          line-height: 21px;
          margin-left: 22.95px;
        }
        //------------------------
        .detail {
          display: flex;
          position: relative;
          height: 37px;
          margin-left: 25px;
          //----------------------------------
          .sale {
            position: absolute;
            line-height: 37px;
            font-family: "Arial";
            font-weight: 700;
            font-size: 16px;
            color: #d70000;
            right: 30px;
          }
        }
        //------------------------
        .cart {
          display: flex;
          position: relative;
          margin-left: 25px;
          //------------------------
          .price {
            font-family: "Arial";
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
          }
          //------------------------
          .iconCart {
            position: absolute;
            width: 31px;
            height: 28px;
            right: 33.97px;
            color: #212529;
          }
        }
        //------------------------
        .available {
          margin-left: 25px;
          width: 98px;
          height: 24px;
          background: rgba(0, 167, 17, 0.5);
          border: 1px solid rgba(0, 202, 20, 0.5);
          box-shadow: 5px 5px 20px rgba(196, 255, 202, 0.5);
          border-radius: 10px;
          font-family: "Almarai";
          font-weight: 400;
          font-size: 14px;
          text-align: center;
          color: white;
        }
      }
    }
  }
}
