.heading {
  font-weight: 700;
  font-family: "Arial";
  font-style: normal;
  font-size: 22px;
  letter-spacing: -0.02em;
  color: #000;
  line-height: 25px;
  padding: 13.5px 0px;
  margin-left: 22px;
}
.option {
  font-family: "Work sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #000000;
  /* &hover: {
    background-color: #c4c4c4;
  } */
}
.option:hover {
  /* background-color: #c4c4c4 !important; */
  opacity: 0;
}
