.orderDetail {
  position: relative;
  padding: 25px 35px 42px 32px;
  font-style: normal;
  //--------------------------
  .breadcrumb {
    font-family: "Arial";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #929395;
    //-----------------------------
    .orderList {
      &:hover {
        color: #ffd333;
      }
    }
    //------------------------------
    .orderId {
      color: #929395;
    }
  }
  //-----------------------------
  .title {
    font-family: "Work Sans";
    margin-top: 21px;
    .name {
      font-weight: 600;
      font-size: 35px;
      line-height: 41px;
    }
    //-----------------------------
    .id {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #929395;
    }
  }
  //-----------------------------
  .detail {
    position: relative;
    margin-top: 16px;
    background-color: white;
    box-shadow: 0.5px 0.5px 12px rgba(0, 0, 0, 0.25);
    //-----------------------------
    .updateOrder {
      display: flex;
      //-----------------------------
      .date {
        margin-top: 15px;
        margin-left: 23px;
        //-----------------------------
        .created {
          display: flex;
          margin-bottom: 11px;
          //-----------------------------
          .iconCreated {
            font-size: 20px;
            margin-right: 3px;
          }
          //-----------------------------
          .textCreated {
            font-family: "Arial";
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
          }
        }
        //-----------------------------
        .updated {
          display: flex;
          margin-bottom: 11px;
          //---------------------------
          .iconUpdated {
            font-size: 20px;
            margin-right: 3px;
          }
          //-----------------------------
          .textUpdated {
            font-family: "Arial";
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
          }
        }
        //-----------------------------
        .idOrder {
          font-family: "Work Sans";
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #929395;
        }
      }
      //-----------------------------
      .status {
        position: absolute;
        left: 53.58%;
        top: 13px;
        font-family: "Work Sans";
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        //--------------------------
        .selectStatus {
          width: 193px;
          height: 40px;
          margin-top: 11px;
          border-radius: 2px;
          cursor: pointer;
        }
      }
      //-----------------------------
      .paided {
        position: absolute;
        left: 73.21%;
        top: 13px;
        font-family: "Work Sans";
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        //--------------------------
        .selectPaided {
          width: 106px;
          height: 40px;
          margin-top: 11px;
          border-radius: 2px;
          cursor: pointer;
        }
      }
      //-----------------------------
      .button {
        position: absolute;
        left: 85.25%;
        top: 45px;
        background: #ffd333;
        border-radius: 5px;
        width: 147px;
        height: 40px;
      }
    }
    //----------------------------
    .firstDivider {
      margin-top: 25px;
      height: 0px;
      border-top: 1px solid #929395;
    }
    //-----------------------------
    .orderInfo {
      display: flex;
      position: relative;
      //--------------------------
      .customer {
        display: flex;
        margin-top: 11px;
        margin-left: 35px;
        //---------------------------
        .circleCustomer {
          position: relative;
          background-color: #3d464d;
          width: 75px;
          height: 75px;
          border-radius: 50%;
          margin-right: 15px;
          //--------------------------
          .iconCustomer {
            position: absolute;
            color: #ffd333;
            width: 30px;
            height: 30px;
            top: 30%;
            left: 30%;
          }
        }
        //--------------------------
        .textCustomer {
          font-family: "Work Sans";
          //--------------------------
          .nameCustomer {
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 10px;
          }
          //------------------------
          .detailCustomer {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #3d464d;
            margin-bottom: 7px;
            //--------------------------
            .lineSpace {
              margin-bottom: 7px;
            }
          }
        }
      }
      //--------------------------
      .shipping {
        display: flex;
        position: absolute;
        top: 11px;
        left: 34.03%;
        //--------------------------
        .circleShipping {
          position: relative;
          background-color: #3d464d;
          width: 75px;
          height: 75px;
          border-radius: 50%;
          margin-right: 15px;
          //--------------------------
          .iconShipping {
            position: absolute;
            color: #ffd333;
            width: 30px;
            height: 30px;
            top: 30%;
            left: 30%;
          }
        }
        //--------------------------
        .textShipping {
          font-family: "Work Sans";
          //--------------------------
          .nameShipping {
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 10px;
          }
          //------------------------
          .detailShipping {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #3d464d;
            //--------------------------
            .lineSpace {
              margin-bottom: 7px;
            }
          }
        }
      }
      //--------------------------
      .address {
        display: flex;
        position: absolute;
        top: 11px;
        left: 65.36%;
        //--------------------------
        .circleAddress {
          position: relative;
          background-color: #3d464d;
          width: 75px;
          height: 75px;
          border-radius: 50%;
          margin-right: 15px;
          //--------------------------
          .iconAddress {
            position: absolute;
            color: #ffd333;
            width: 30px;
            height: 30px;
            top: 30%;
            left: 30%;
          }
        }
        //--------------------------
        .textAddress {
          font-family: "Work Sans";
          //--------------------------
          .nameAddress {
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 10px;
          }
          //------------------------
          .detailAddress {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #3d464d;
            //--------------------------
            .lineSpace {
              margin-bottom: 7px;
            }
          }
        }
      }
    }
    //--------------------------
    .secondDivider {
      margin-top: 33px;
      height: 0px;
      border-top: 1px solid #929395;
    }
    //------------------------
    .titleTable {
      font-family: "Work Sans";
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      margin-left: 2.01%;
    }
    //------------------------
    .footerTable {
      display: flex;
      font-family: "Arial";
      font-weight: 700;
      font-size: 25px;
      line-height: 29px;
      //--------------------------
      .textFooter {
        width: 80%;
        text-align: center;
        margin-right: 26px;
      }
      //------------------------
      .numberTable {
        width: 20%;
      }
    }
    //--------------------------
    .titleProductTable {
      font-family: "Arial";
      font-weight: 700;
      font-size: 20px;
      margin-left: 3.12%;
    }
    //------------------------
    .product {
      display: flex;
      font-family: "Arial";
      margin-left: 3.41%;
      //---------------------------------
      .avatarProduct {
        width: 93.72px;
        height: 60px;
        box-shadow: 0.5px 0.5px 12px rgba(0, 0, 0, 0.25);
        margin-right: 17.2px;
      }
      //------------------------
      .textProduct {
        font-family: "Arial";
        font-weight: 400;
        //------------------------------
        .textName {
          font-size: 20px;
        }
        //------------------------
        .textId {
          font-size: 18px;
          color: #929395;
        }
      }
    }
    //--------------------------
    .titlePriceTable {
      font-family: "Arial";
      font-weight: 700;
      font-size: 20px;
    }
    //------------------------
    .price {
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
    }
    //------------------------
    .titleQuantityTable {
      font-family: "Arial";
      font-weight: 700;
      font-size: 20px;
    }
    //------------------------
    .quantity {
      font-family: "Arial";
      font-weight: 400;
      font-size: 20px;
    }
    //------------------------
    .titleTotalTable {
      font-family: "Arial";
      font-weight: 700;
      font-size: 20px;
    }
    //---------------------------
    .total {
      font-family: "Arial";
      font-weight: 400;
      font-size: 20px;
    }
  }
}
