*,
::after,
::before {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.dashboard {
  position: relative;
  display: flex;
  background: white;
  font-style: normal;
  font-weight: 700;
  //--------------------------------
  .navigation.hide {
    width: 0px;
    .logo {
      .shopApp {
        color: transparent;
      }
      .admin {
        background: transparent;
        color: transparent;
      }
    }
    .menu {
      .application {
        color: transparent;
      }
    }
  }
  //------------------------
  .navigation {
    // position: fixed;
    min-width: 225px;
    // z-index: 1000;
    // height: ;
    transition: ease-in-out 0.5s;
    //--------------------------------
    .logo {
      display: flex;
      position: relative;
      align-items: center;
      min-height: 78px;
      background-color: #ffd333;
      color: black;
      text-transform: uppercase;
      //--------------------------------
      .shopApp {
        position: absolute;
        font-family: "Red Rose";
        font-size: 25px;
        width: 140px;
        left: 10.13px;
      }
      //--------------------------------
      .admin {
        position: absolute;
        right: 10.13px;
        font-family: "Arial";
        background: white;
        border-radius: 5px;
        font-size: 10px;
        width: 53.7px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        margin-left: 10.87px;
      }
    }
    //--------------------------------
    .menu {
      height: 946px;
      background: #3d464d;
      font-family: "Arial";

      //---------------------------------
      .application {
        padding-left: 10.13px;
        text-transform: uppercase;
        height: 58px;
        line-height: 58px;
        font-size: 12px;
        color: #c4c4c4;
      }
      //--------------------------------
      .list {
        color: white;
        font-size: 18px;
        //------------------------------
        .item {
          cursor: pointer;
          position: relative;
          display: flex;
          height: 55px;
          line-height: 55px;
          padding-left: 10.13px;
          transition: linear 0.5s;
          &:hover {
            background: #e2d9b3;
          }
          //------------------------
          .icon {
            width: 20px;
            height: 20px;
            margin-top: 17.5px;
            transition: linear 0.2s;
          }
          //------------------------
          .text {
            position: absolute;
            left: 42.006px;
          }
          //------------------------------
          .chevron {
            position: absolute;
            left: 201.58px;
            margin-top: 20.5px;
          }
        }
        //------------------------
        .subitem {
          cursor: pointer;
          height: 55px;
          line-height: 55px;
          padding-left: 42px;
          transition: all 0.75s;
          &:hover {
            background: #e2d9b3;
          }
        }
      }
    }
  }
  //------------------------
  .container.expand {
    left: 0;
    .header {
      width: 100%;
    }
    .content {
      width: 100%;
    }
  }
  //----------------------------------
  .container {
    width: calc(100% - 225px);
    min-width: 1217px;
    min-height: 1024px;
    position: absolute;
    left: 225px;
    transition: ease-in-out 0.5s;
    .header {
      display: flex;
      position: relative;
      width: 100%;
      height: 78px;
      font-family: "Arial";
      font-weight: 400;
      background-color: #fff;
      //-------------------------------
      .toggleMenu {
        position: absolute;
        width: 29.06px;
        height: 25.43px;
        left: 2.06%;
        top: 26.285px;
        cursor: pointer;
        transition: linear 0.2s;
        &:hover {
          color: #ffd333;
        }
      }
      //------------------------------
      .search {
        position: absolute;
        left: 6.67%;
        top: 17.725px;
        background-color: #e5e5e5;
        border-radius: 5px;
        height: 42.55px;
        color: #929395;
        width: 292px;
        font-size: 20px;
      }
      //------------------------------
      .notify {
        position: absolute;
        left: 80.25%;
        top: 25.845px;
        cursor: pointer;
        //------------------------------
        .iconNotify {
          width: 23.73px;
          height: 26.31px;
        }
      }
      //------------------------------
      .admin {
        display: flex;
        position: absolute;
        left: 84.16%;
        cursor: pointer;
        //------------------------------
        .avatar {
          position: absolute;
          width: 40px;
          height: 40px;
          top: 19px;
          border-radius: 5px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          &:hover {
            border: 1px solid #ffd333;
          }
        }
        //------------------------------
        .info {
          margin-left: 52.89px;
          margin-top: 20px;
          //--------------------------
          .name {
            font-size: 18px;
            line-height: 21px;
          }
          //------------------------
          .role {
            font-size: 15px;
            color: #929395;
            line-height: 17px;
          }
        }
      }
    }
    //------------------------------
    .content {
      width: 100%;
      height: 100%;
      background-color: #f5f7fa;
    }
  }
}

.logoutPopup {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #868484;
  cursor: pointer;
  &:hover {
    color: #ffd333;
  }
}
