label {
  font-size: 18px !important;
  font-weight: 700;
  font-family: "Arial";
  line-height: 21px;
  letter-spacing: -0.02em;
  font-style: normal;
  color: #000;
}
.input {
  margin-top: 11px !important;
  height: 40px;
  background-color: #fff !important;
  border-radius: 2px !important;
  border: 1px solid #929395 !important;
  font-family: "Arial" !important ;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 21px !important;

  letter-spacing: -0.02em !important;

  color: #000000 !important;
}
