@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.itemPerPage {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  text-align: center;

  color: #000000;
}
.numberItem {
  width: 55px;
  height: 25px;
  margin-left: 5px;
  font-size: 16px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #929395;
  border-radius: 2px;
}

.title {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.id,
.userId,
.amount,
.contact,
.date,
.status,
.address {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.yes {
  width: 72px;
  height: 25px;
  background: #ffd333;
  border-radius: 20px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
}

.no {
  width: 72px;
  height: 25px;
  background: #366ab8;
  border-radius: 20px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
}
