ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.container {
  padding: 0 144px 38px 144px;
  font-style: normal;
  //------------------------------
  .navTab {
    margin-left: 15px;
    height: 50px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    color: #595959;
    //------------------------
    .back {
      &:hover {
        color: #ffd333;
      }
    }
    //------------------------
    .current {
      color: #595959;
    }
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    .card {
      box-sizing: border-box;
      background: #fffcfc;
      border: 1px solid #b4b1b1;
      border-radius: 5px;
      width: 280px;
      height: 395px;
      margin-top: 19px;
      margin-right: 8px;
      //------------------------
      .photoCard {
        width: 233.18px;
        height: 200px;
        box-shadow: 0.5px 0.5px 12px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-top: 21px;
        margin-left: 22.95px;
      }
      //------------------------
      .productDescription {
        font-style: normal;
        //------------------------
        .nameProduct {
          font-family: "Arial";
          font-weight: 700;
          font-size: 32px;
          line-height: 37px;
          margin-top: 15px;
          margin-left: 22.95px;
          margin-right: 15px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &:hover {
            overflow: visible;
            font-size: 20px;
            transition: all 0.5s;
            text-align: center;
          }
        }
        //------------------------
        .idProduct {
          font-family: "Arial";
          font-weight: 700;
          font-size: 18px;
          line-height: 21px;
          margin-left: 22.95px;
        }
        //------------------------
        .detail {
          display: flex;
          position: relative;
          height: 37px;
          margin-left: 25px;
          //----------------------------------
          .sale {
            position: absolute;
            line-height: 37px;
            font-family: "Arial";
            font-weight: 700;
            font-size: 16px;
            color: #d70000;
            right: 30px;
          }
        }
        //------------------------
        .cart {
          display: flex;
          position: relative;
          margin-left: 25px;
          //------------------------
          .price {
            font-family: "Arial";
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
          }
          //------------------------
          .iconCart {
            position: absolute;
            width: 31px;
            height: 28px;
            right: 33.97px;
            color: #212529;
          }
        }
        //------------------------
        .available {
          margin-left: 25px;
          width: 98px;
          height: 24px;
          background: rgba(0, 167, 17, 0.5);
          border: 1px solid rgba(0, 202, 20, 0.5);
          box-shadow: 5px 5px 20px rgba(196, 255, 202, 0.5);
          border-radius: 10px;
          font-family: "Almarai";
          font-weight: 400;
          font-size: 14px;
          text-align: center;
          color: white;
        }
      }
    }
  }
}
