*,
::after,
::before {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.category {
  position: relative;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  color: white;
  background: #3d464d;
  //------------------------
  .title {
    display: flex;
    padding-left: 24px;
    font-size: 32px;
    height: 91px;
    line-height: 91px;
    //------------------------
    .iconTitle {
      margin-top: 29.5px;
      margin-right: 16.18px;
      cursor: pointer;
      &:hover {
        color: #b59628;
      }
    }
  }
  //------------------------
  .content {
    cursor: pointer;
    //------------------------
    .list {
      .item {
        padding-left: 24px;
        position: relative;
        display: flex;
        height: 52px;
        line-height: 52px;
        font-weight: 700;
        font-size: 22px;
        border-radius: 5px;
        transition: all 0.75s;
        &:hover {
          background: #e2d9b3;
        }
        //------------------------
        .icon {
          position: absolute;
          top: 16px;
          right: 16px;
        }
      }
    }
  }
}
