@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap");
.path {
  font-family: "Arial";
  font-size: 18px;
  line-height: 20.7px;
}
.heading {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 41px;
  letter-spacing: -0.02em;
  color: #000000;
}

.userContent {
  padding: 25px 32px 0px;
  background-color: #f5f7fa;
  height: 100%;
}
.contentTable {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 760px;
  box-shadow: 0.5px 0.5px 12px rgba(0, 0, 0, 0.25);
}
.breadcrumb {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #929395 !important;
}
