.container {
  padding-left: 144px;
  padding-right: 144px;
  padding-bottom: 52px;
  font-style: normal;
  font-weight: 700;
  //------------------------
  .navTab {
    margin-left: 15px;
    height: 50px;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 50px;
    color: #595959;
    //------------------------
    .home {
      &:hover {
        color: #ffd333;
      }
    }
    //------------------------
    .shoppingCart {
      color: #595959;
    }
  }
  //------------------------
  .title {
    font-family: "Roboto";
    font-size: 40px;
    line-height: 47px;
    height: 47px;
    margin-top: 19px;
    margin-left: 15px;
    color: black;
  }
  //------------------------
  .table {
    border: 1px solid rgba(90, 90, 90, 0.41);
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
    //------------------------
    .titleTable {
      text-align: center;
      font-family: "Roboto";
      font-size: 16px;
      color: #000000;
    }
    //------------------------
    .image {
      box-shadow: 0.5px 0.5px 12px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      width: 119px;
      height: 108px;
      display: flex;
      margin: auto;
    }
    //------------------------
    .product {
      font-family: "Arial";
      font-size: 24px;
      color: #000000;
      text-align: center;
    }
    //------------------------
    .price {
      font-family: "Roboto";
      font-size: 24px;
      color: #000000;
      text-align: center;
    }
    //------------------------
    .box {
      display: flex;
      width: 162.37px;
      height: 42.08px;
      background: #e2e4e6;
      border: 1px solid #959595;
      box-sizing: border-box;
      border-radius: 5px;
      justify-content: space-around;
      margin: auto;
      font-size: 24px;
      font-weight: 400;
      font-family: "Roboto";
      //------------------------
      .modify {
        color: #33a0ff;
        cursor: pointer;
        &:hover {
          color: #0465bb;
        }
      }
    }
    //------------------------
    .total {
      font-family: "Roboto";
      font-size: 24px;
      color: #000000;
      text-align: center;
    }
  }
  //------------------------
  .checkout {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    //------------------------
    .coupon {
      .couponInput {
        background: #c4c4c4;
        border-radius: 5px;
        width: 280px;
        height: 49px;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #5a5a5a;
        outline-style: none;
        padding: 14px 19px;
        margin-right: 16px;
      }
      //------------------------
      .couponButton {
        width: 178px;
        height: 49px;
        background: #ffd333;
        border-radius: 5px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        &:hover {
          color: white;
          opacity: 0.8;
        }
      }
    }
    //------------------------
    .cartTotals {
      box-sizing: border-box;
      width: 571px;
      height: 450px;
      background: #fffefe;
      border: 1px solid rgba(90, 90, 90, 0.4);
      border-radius: 5px;
      font-family: "Roboto";
      //------------------------
      .firstCart {
        margin-top: 18px;
        margin-left: 31px;
        font-size: 34px;
        line-height: 40px;
        color: #000000;
      }
      //------------------------
      .mainCart {
        margin-top: 31px;
        margin-left: 31px;
        margin-right: 65px;
        //------------------------
        .subtotal {
          display: flex;
          position: relative;
          //------------------------
          .textSubtotal {
            font-size: 24px;
            line-height: 28px;
            color: #000000;
          }
          //------------------------
          .numSubtotal {
            position: absolute;
            font-size: 24px;
            line-height: 28px;
            color: #5a5a5a;
            right: 0;
          }
        }
        //------------------------
        .shipping {
          display: flex;
          position: relative;
          margin-top: 38px;
          //------------------------
          .textShipping {
            font-size: 24px;
            line-height: 28px;
            color: #000000;
          }
          //------------------------
          .numShipping {
            position: absolute;
            font-size: 24px;
            line-height: 28px;
            color: #5a5a5a;
            right: 0;
          }
        }
        //------------------------
        .total {
          display: flex;
          position: relative;
          margin-top: 49px;
          //-------------------------------
          .textTotal {
            font-size: 32px;
            line-height: 38px;
            color: #000000;
          }
          //------------------------
          .numTotal {
            position: absolute;
            font-size: 24px;
            line-height: 28px;
            color: #5a5a5a;
            right: 0;
          }
        }
      }
      //------------------------
      .finalcart {
        margin: 48px;
        width: 487px;
        height: 69px;
        line-height: 69px;
        background: #ffd333;
        border-radius: 5px;
        font-family: "Roboto";
        font-size: 34px;
        color: #000000;
        margin-left: 41px;
        &:hover {
          color: white;
          opacity: 0.8;
        }
      }
    }
  }
}
